<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="<%= admin_root_path %>" class="brand-link text-center">
    <span class="brand-text font-weight-light">Furniture Admin</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="<%= admin_root_path %>" class="nav-link" id='dashboard'>
            <i class="nav-icon fas fa-th"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= admin_staffs_path %>" class="nav-link" id='staffs'>
            <i class="nav-icon fas fa-user-secret"></i>
            <p>
              Staff
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= admin_users_path %>" class="nav-link" id='users'>
            <i class="nav-icon fas fa-user"></i>
            <p>
              User
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= admin_banners_path %>" class="nav-link" id='banners'>
            <i class="nav-icon fas fa-image"></i>
            <p>
              Banner
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= admin_products_path %>" class="nav-link" id='products'>
            <i class="nav-icon fas fa-box"></i>
            <p>
              Product
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="<%= admin_categories_path %>" class="nav-link" id='categories'>
            <i class="nav-icon fas fa-th-large"></i>
            <p>
              Category
            </p>
          </a>
        </li>
        <li class="nav-item" id='orders-list'>
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              Orders
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="<%= admin_orders_path %>" class="nav-link" id='orders'>
                Invoice
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>