<section class="single-product">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ol class="breadcrumb">
					<li><a href="<%= user_root_path %>">Home</a></li>
					<% if @category.present? %>
						<li><a href="<%= user_categories_path(id: @category.id) %>"><%= @category.name %></a></li>
					<% else %>
						<li><a href="<%= user_categories_path %>">All</a></li>
					<% end %>
					<li class="active"><%= @product.name %></li>
				</ol>
			</div>
		</div>
		<div class="row mt-20">
			<div class="col-md-5">
				<div class="single-product-slider">
					<% if @images.present? %>
						<div id='carousel-custom' class='carousel slide' data-ride='carousel'>
							<div class='carousel-outer'>
								<!-- me art lab slider -->
								<div class='carousel-inner '>
									<div class='item active'>
										<img src='<%= @product.card_image.url %>' alt='' data-zoom-image="<%= @product.card_image.url %>" style='object-fit: cover; height: 500px; width: 450px;' />
									</div>
									<% @images.each do |image| %>
										<div class='item'>
											<img src='<%= image.file_data.url %>' alt='' data-zoom-image="<%= image.file_data.url %>" style='object-fit: cover; height: 500px; width: 450px;' />
										</div>
									<% end %>
								</div>
								<!-- sag sol -->
								<a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
									<i class="tf-ion-ios-arrow-left"></i>
								</a>
								<a class='right carousel-control' href='#carousel-custom' data-slide='next'>
									<i class="tf-ion-ios-arrow-right"></i>
								</a>
							</div>
							
							<!-- thumb -->
							<ol class='carousel-indicators mCustomScrollbar meartlab'>
								<li data-target='#carousel-custom' data-slide-to='0' class='active'>
									<img src='<%= @product.card_image.url %>' alt='' style='object-fit: cover; min-height: 60px; height: 60px;' />
								</li>
								<% @images.each_with_index do |image, index| %>
									<li data-target='#carousel-custom' data-slide-to='<%= index + 1 %>'>
										<img src='<%= image.file_data.url %>' alt='' style='object-fit: cover; min-height: 60px; height: 60px;' />
									</li>
								<% end %>
							</ol>
						</div>
					<% end %>
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-details">
					<h2><%= @product.name %></h2>
					<p class="product-price">$ <%= @product.price %></p>
					
          <p class="product-description mt-20 mb-40">
            <%= @product.description %>
					</p>
					<div class='mb-40'>
						<strong>Dimensions (cm):</strong>
						<span><%= "#{ @product.dimension_x } x #{ @product.dimension_y } x #{ @product.dimension_z }" %></span>
					</div>
					<div class='mb-40'>
						<strong>Color:</strong>
						<span><%= @product.color%></span>
					</div>
					<div class='mb-40'>
						<strong>Material:</strong>
						<span><%= @product.material %></span>
					</div>
					<% if current_user.present? %>
						<a href="javascript:addItem(<%= @product.id %>);" class="btn btn-main">Add To Cart</a>
					<% else %>
						<span data-toggle="modal" data-target="#login-modal" class='btn btn-main'>
							Add To Cart
						</span>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<% if @related_products.present? %>
	<section class="products related-products section">
		<div class="container">
			<div class="row">
				<div class="title text-center">
					<h2>Related Products</h2>
				</div>
			</div>
			<div class="row">
				<% @related_products.each do |product| %>
					<div class="col-md-3">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="<%= product.card_image.url %>" alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<span  data-toggle="modal" data-target="#product-modal-<%= product.id %>">
												<i class="tf-ion-ios-search"></i>
											</span>
										</li>
										<li>
										<% if current_user.present? %>
											<a href="javascript:addItem(<%= product.id %>);"><i class="tf-ion-android-cart"></i></a>
										<% else %>
											<span data-toggle="modal" data-target="#login-modal">
												<i class="tf-ion-android-cart"></i>
											</span>
										<% end %>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4><a href="product-single.html"><%= product.name %></a></h4>
								<p class="price">$ <%= product.price %></p>
							</div>
						</div>
					</div>
					<!-- Modal -->
					<div class="modal product-modal fade" id="product-modal-<%= product.id %>">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="tf-ion-close"></i>
						</button>
						<div class="modal-dialog " role="document">
							<div class="modal-content">
									<div class="modal-body">
										<div class="row">
											<div class="col-md-8">
												<div class="modal-image">
													<img class="img-responsive" src="<%= product.card_image.url %>" />
												</div>
											</div>
											<div class="col-md-3">
												<div class="product-short-details">
													<h2 class="product-title"><%= product.name %></h2>
													<p class="product-price">$ <%= product.price %></p>
													<p class="product-short-description">
														<%= product.description %>
													</p>
													<% if current_user.present? %>
														<a href="javascript:addItem(<%= product.id %>);"><i class="tf-ion-android-cart"></i></a>
													<% else %>
														<span data-toggle="modal" data-target="#login-modal" class='btn btn-main'>
															Add To Cart
														</span>
													<% end %>
													<a href="<%= user_product_path(product.id) %>" class="btn btn-transparent">View Product Details</a>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</section>
<% end %>