<div class="page-wrapper">
  <div class="purchase-confirmation shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block ">
            <div class="purchase-confirmation-details">
              <%= form_for current_user, url: update_profile_user_accounts_path, html: { method: :post } do |f|%>
                <div class="form-group has-error">
                  <%= f.text_field :full_name, class: 'form-control', placeholder: 'Fullname' %>
                </div>
                <div class="form-group has-error">
                  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
                </div>
                <div class="form-group has-error">
                  <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
                </div>
                <div class="form-group has-error">
                  <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
                </div>
                <div class="form-group has-error">
                  <%= f.text_field :age, class: 'form-control', placeholder: 'Age' %>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-main text-center" >Save</button>
                </div>
                <div>
                  <%= f.radio_button("gender", "male") %>
                  <%= label :gender, 'Male' %>
                </div>
                <div>
                  <%= f.radio_button("gender", "female") %>
                  <%= label :gender, 'Female' %>
                </div>
                <div>
                  <%= f.radio_button("gender", "other") %>
                  <%= label :gender, 'Other' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>