
<section class="user-dashboard page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="dashboard-wrapper user-dashboard">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Order ID</th>
                  <th>Date</th>
                  <th>Items</th>
                  <th>Total Price</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @list_orders.each do |order| %>
                  <tr>
                    <td>#<%= order.uuid %></td>
                    <td><%= order.created_at.to_date %></td>
                    <td><%= order.order_details.pluck(:amount).inject { |sum, item| sum + item } %></td>
                    <td>$<%= order.total_amount %></td>
                    <td><span class="label <%= order.get_color_label %>"><%= order.status %></span></td>
                    <td><a href="<%= user_order_path(order.id) %>" class="btn btn-default">View</a></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>