<div class="page-wrapper">
  <div class="cart shopping">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="block">
            <div class="product-list">
              <% if @order.present? %>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="">Item Name</th>
                      <th class="">Total</th>
                      <th class="">Item Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @order.order_details.each do |order_detail| %>
                      <tr id='order-detail-<%= order_detail.id %>'>
                        <td class="">
                          <div class="product-info">
                            <img width="80" src="<%= order_detail.product.card_image.url %>" alt="" />
                            <a href="#!"><%= order_detail.product.name %></a>
                          </div>
                        </td>
                        <td class='order-detail-amount-<%= order_detail.id %>'><%= order_detail.amount %></td>
                        <td>$<%= order_detail.product.price %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
                <hr>
                <div class="summary-total mb-40" style='text-align: right; font-weight: bold'>
                  <span>Total</span>
                  <span class='checkout-total'>$<%= @order.total_amount %></span>
                </div>
              <% else %>
                <h3 style='text-align: center;'>There is no item</h3>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>