<!-- Banner -->
<div class="hero-slider">
	<% @banners.each do |banner| %>
		<div class="slider-item th-fullpage hero-area" style="background-image: url(<%= banner.image.url %>);">
		</div>
	<% end %>
</div>

<!-- New furniture -->
<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2><%= @new_category.name %></h2>
				</div>
			</div>
			<% @new_products.each do |product| %>
				<div class="col-md-6">
					<div class="category-box">
						<a href="<%= user_product_path(id: product.id, category_id: @new_category.id) %>">
							<img src="<%= product.card_image.url %>" alt="" class='fix-image' />
						</a>
					</div>
					<a href="<%= user_product_path(id: product.id, category_id: @new_category.id) %>">
						<h3><%= product.name %></h3>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</section>

<!-- Trendy product -->
<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
					<h2><%= @trendy_category.name %></h2>
			</div>
		</div>
		<div class="row">
			<% @trendy_products.each do |product| %>
				<div class="col-md-4">
					<div class="product-item">
						<div class="product-thumb">
							<img class="img-responsive" src="<%= product.card_image.url %>" alt="product-img" />
							<div class="preview-meta">
								<ul>
									<li>
										<span  data-toggle="modal" data-target="#product-modal-<%= product.id %>">
											<i class="tf-ion-ios-search-strong"></i>
										</span>
									</li>
									<li>
										<% if current_user.present? %>
											<a href="javascript:addItem(<%= product.id %>);"><i class="tf-ion-android-cart"></i></a>
										<% else %>
											<span data-toggle="modal" data-target="#login-modal">
												<i class="tf-ion-android-cart"></i>
											</span>
										<% end %>
									</li>
								</ul>ƒ
							</div>
						</div>
						<div class="product-content">
							<h4><a href="<%= user_product_path(id: product.id, category_id: @trendy_category.id) %>"><%= product.name %></a></h4>
							<p class="price">$ <%= product.price %></p>
						</div>
					</div>
				</div>

				<!-- Modal -->
				<div class="modal product-modal fade" id="product-modal-<%= product.id %>">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<i class="tf-ion-close"></i>
					</button>
						<div class="modal-dialog " role="document">
							<div class="modal-content">
									<div class="modal-body">
										<div class="row">
											<div class="col-md-8 col-sm-6 col-xs-12">
												<div class="modal-image">
													<img class="img-responsive" src="<%= product.card_image.url %>" alt="product-img" />
												</div>
											</div>
											<div class="col-md-4 col-sm-6 col-xs-12">
												<div class="product-short-details">
													<h2 class="product-title"><%= product.name %></h2>
													<p class="product-price">$ <%= product.price %></p>
													<p class="product-short-description">
														<%= product.description %>
													</p>
													<% if current_user.present? %>
														<a href="javascript:addItem(<%= product.id %>);" class="btn btn-main">Add To Cart</a>
													<% else %>
														<span data-toggle="modal" data-target="#login-modal" class='btn btn-main'>
															Add To Cart
														</span>
													<% end %>
													<a href="<%= user_product_path(id: product.id, category_id: @trendy_category.id) %>" class="btn btn-transparent">View Product Details</a>
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
				</div><!-- /.modal -->
			<% end %>
		</div>

		</div>
	</div>
</section>