<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block text-center">
          <a class="logo" href="index.html">
            <img src="images/logo.png" alt="">
          </a>
          <h2 class="text-center">Create Your Account</h2>
          <%= form_for @user, url: user_sign_up_path, html: { class: 'text-left clearfix', method: :post } do |f| %>
            <%= f.hidden_field :role, value: 'user' %>
            <div class="form-group">
              <%= f.text_field :full_name, class: 'form-control', placeholder: 'Full name' %>
            </div>
            <div class="form-group">
              <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
            </div>
            <div class="form-group">
              <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
            </div>
            <div class="form-group">
              <%= f.text_field :address, class: 'form-control', placeholder: 'Address' %>
            </div>
            <div class="form-group">
              <%= f.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
            </div>
            <div class="form-group">
              <%= f.text_field :age, class: 'form-control', placeholder: 'Age' %>
            </div>
            <div>
              <%= f.radio_button("gender", "male", checked: true) %>
              <%= label :gender, 'Male' %>
            </div>
            <div>
              <%= f.radio_button("gender", "female") %>
              <%= label :gender, 'Female' %>
            </div>
            <div>
              <%= f.radio_button("gender", "other") %>
              <%= label :gender, 'Other' %>
            </div>
            <div class="text-center">
              <%= f.submit 'Sign Up', class: 'btn btn-main text-center' %>
            </div>
          <% end %>
          <p class="mt-20">Already hava an account ?<a href="<%= user_login_path %>"> Login</a></p>
          <p><a href="forget-password.html"> Forgot your password?</a></p>
        </div>
      </div>
    </div>
  </div>
</section>