<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Orders list</h1>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <!-- /.card-header -->
      <div class="card-body p-0">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Order code</th>
              <th>Email</th>
              <th>Full name</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Created at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%= order.uuid %></td>
                <td><%= order.user.email %></td>
                <td><%= order.order_delivery.full_name %></td>
                <td><%= order.order_delivery.address %></td>
                <td><%= order.order_delivery.phone %></td>
                <td><%= order.created_at.to_date %></td>
                <td class="text-right">
                  <%= link_to edit_admin_order_path(order.id), class: 'btn btn-info btn-sm' do %>
                    <i class="fas fa-pencil-alt">
                    </i>
                    Detail
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</section>