<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
          <% if @category.present? %>
            <h1 class="page-name"><%= @category.name %></h1>
          <% else %>
            <h1 class="page-name">All</h1>
          <% end %>
          <ol class="breadcrumb">
						<li><a href="<%= user_root_path %>">Home</a></li>
            <% if @category.present? %>
              <li class="active"><%= @category.name %></li>
            <% else %>
              <li class="active">All</li>
            <% end %>
          </ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section">
	<div class="container">
		<div class="row">
			<% @products.each do |product| %>
        <div class="col-md-4">
          <div class="product-item">
            <div class="product-thumb">
              <img class="img-responsive" src="<%= product.card_image.url %>" alt="product-img" />
              <div class="preview-meta">
                <ul>
                  <li>
                    <span  data-toggle="modal" data-target="#product-modal-<%= product.id %>">
                      <i class="tf-ion-ios-search-strong"></i>
                    </span>
                  </li>
                  <li>
                  <% if current_user.present? %>
                    <a href="javascript:addItem(<%= product.id %>);"><i class="tf-ion-android-cart"></i></a>
                  <% else %>
                    <span data-toggle="modal" data-target="#login-modal">
                      <i class="tf-ion-android-cart"></i>
                    </span>
                  <% end %>
                  </li>
                </ul>
              </div>
            </div>
            <div class="product-content">
              <h4><a href="<%= user_product_path(id: product.id, category_id: @category&.id&.to_i) %>"><%= product.name %></a></h4>
              <p class="price">$<%= product.price %></p>
            </div>
          </div>
        </div>
      
        <!-- Modal -->
        <div class="modal product-modal fade" id="product-modal-<%= product.id %>">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="tf-ion-close"></i>
          </button>
          <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                      <div class="modal-image">
                        <img class="img-responsive" src="<%= product.card_image.url %>" alt="product-img" />
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                      <div class="product-short-details">
                        <h2 class="product-title"><%= product.name %></h2>
                        <p class="product-price">$<%= product.price %></p>
                        <p class="product-short-description">
                          <%= product.description %>
                        </p>
                        <% if current_user.present? %>
                          <a href="javascript:addItem(<%= product.id %>);" class="btn btn-main">Add To Cart</a>
                        <% else %>
                          <span data-toggle="modal" data-target="#login-modal" class='btn btn-main'>
                            Add To Cart
                          </span>
                        <% end %>
                        <a href="<%= user_product_path(id: product.id, category_id: @category&.id&.to_i) %>" class="btn btn-transparent">View Product Details</a>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div><!-- /.modal -->
      <% end %>
    </div>
    <%= paginate @products %>
	</div>
</section>