<!DOCTYPE html>
<html>
  <head>
    <title>FurnitureSite</title>
    <%= csrf_meta_tags %>
    <!-- bootstrap.min css -->
    <%= stylesheet_link_tag 'application_user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://www.jsdelivr.com/package/npm/bootstrap-input-spinner' %>
  </head>

  <body>
    <% if (controller_name == 'sessions' || controller_name == 'registrations') %>
      <%= yield %>
    <% else %>
      <%= render 'user/partial/header' %>
      <%= render 'user/partial/menu' %>
      <%= yield %>
      <%= render 'user/partial/footer' %>
    <% end %>
    <%= javascript_include_tag 'application_user', 'data-turbolinks-track': 'reload' %>
  </body>
</html>