<!DOCTYPE html>
<html>
  <head>
    <title>FurnitureSite</title>
    <%= csrf_meta_tags %>
    <!-- chartjs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <%= javascript_include_tag 'application_admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application_admin', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <% if controller_name == 'sessions' %>
      <%= stylesheet_link_tag 'application_admin_session', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= yield %>
    <% else %>
      <div class="wrapper">
        <%= render 'admin/partial/header' %>
        <%= render 'admin/partial/sidebar' %>
        <div class='content-wrapper'>
          <%= render 'admin/partial/message' %>
          <%= yield %>
        </div>
        <%= render 'admin/partial/footer' %>
      </div>
    <% end %>
    </div>
  </body>
</html>