<!DOCTYPE html>
<html>
  <head>
    <title>FurnitureSite</title>
    <%= csrf_meta_tags %>
    <!-- bootstrap.min css -->
    <%= stylesheet_link_tag 'application_user', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'user/partial/header' %>
    <%= render 'user/partial/menu' %>
    <%= yield %>
    <%= render 'user/partial/footer' %>
    <%= javascript_include_tag 'application_user', 'data-turbolinks-track': 'reload' %>
  </body>
</html>